* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --tomato: hsl(4, 100%, 67%);
    --tomato-2: hsl(4, 100%, 95%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
    --font-family: 'Roboto', sans-serif;
}

/* Typography */

h1 {
    font-size: 2.5em;
}

body {
    position: relative;
    font-family: 'Roboto';
    color: var(--dark-slate-grey);
}

.container {
    width: 100%;
    display: grid;
    gap: 3em;
}

.image > picture > img {
    width: 100%;
}

.content {
    padding: 2em;
    display: grid;
    gap: 1.2em;
}

ul {
    display: grid;
    gap: 1.5em;
}

ul > li {
    list-style: none;
    display: flex;
    gap: 1.5em;
}

label {
    font-weight: bold;
}

.form {
    display: grid;
    gap: 1.2em;
}

.email-container {
    display: grid;
    gap: .2em;
}

.email,
 button {
    cursor: pointer;
    width: 100%;
    padding: 1em;
    border: 1px solid var(--grey);
    border-radius: .5em;
}

.email:focus {
    outline: none;
}

.lable-and-warning {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.warning {
    display: none;
    color: var(--tomato);
}

button {
    border: none;
    background: var(--dark-slate-grey);
    color: var(--white);
    font-weight: bold;
    font-family: var(--font-family);
}

.footer {
    padding: 0 1em;
    text-align: center;
}

/* Modal */

.modal {
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: start;
    padding: 6em 2em 2em 2em;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal > button {
    width: 100%;
}

.modal-content {
    display: grid;
    gap: 2em;
}

.modal-content > i > img {
    width: 64px;
}


/* Tablet Mood */

@media (min-width: 400px){
    body {
        height: 100vh;
        background: var(--grey);
        display: grid;
    }

    .container {
        border-radius: 1em;
        padding: 1em;
        background: var(--white);
        width: 768px;
        gap: 0;
        margin: auto;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
            'conte image'
        ;
    }

    .image {
        grid-area: image;
    }

    .image > picture > img {
        width: 100%;
        height: 100%;
    }

    .content {
        grid-area: conte;
    }

    .footer {
        color: var(--white);
    }

    button:hover {
        background: var(--tomato);
    }

    .modal {
        padding: 3em;
        border-radius: 1em;
        height: fit-content;
        width: 470px;
        background: var(--white);
        margin: auto;
        gap: 2em;
    }
}